.cardScene {
  width: 200px;
  height: 275px;
  margin: 5px 5px 5px 0;
  display: inline-block;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  box-shadow: 6px 6px 15px -12px #bdbdbd;

  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover {
  box-shadow: 10px 10px 15px -12px #bdbdbd;
}

.cardFace {
  border-radius: 5%;

  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.cardFaceFront {
  background: red;
}

.cardFaceBack {
  background: blue;
  transform: rotateY(180deg);
}

.cardIsFlipped {
  transform: rotateY(180deg);
}

.cardFaceFrontImage {
  width: 160px;
  height: 160px;
  margin: 20px;
  border-radius: 5%;
  overflow: hidden;
}

.cardFaceFrontImage:hover {
  cursor: pointer;
}

.cardFaceFrontTextWrapper {
  margin: 0 20px;
  line-height: 0;
}
  
.cardFaceFrontText {
  margin: 0;
}
