@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
  background-color: #f9f4fe;
  color: #1b1b1b;
}

.container { 
  width: 87.5%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  counter-reset: sidenote-counter;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}
