.mainContainer {
  display: inline-flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  border-radius: 5%;
  gap: 10px;
}

.showAllContainer {
  order: 1;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.showAllText:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.cardContainer {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 850px;
  gap: 10px;
  order: 2;
}

@media (max-width: 500px) {
  .mainContainer {
    border-radius: 1%;
  }
}

@media (max-width: 425px) {
  .showAllText {
    font-weight: bold;
  }
}
