.cardFace {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.cardFaceBack {
  transform: rotateY(180deg);
}


.cardFaceImage {
  width: 160px;
  height: 160px;
  margin: 20px;
  border-radius: 5%;
  overflow: hidden;
}

.cardFaceImage:hover {
  cursor: pointer;
}

.cardFaceTextWrapper {
  margin: 0 20px;
  line-height: 0;
}
  
.cardFaceText {
  margin: 0;
}

@media (max-width: 500px) {
  .cardFaceImage {
    width: 135px;
    height: 135px;
  }

  .cardFaceText {
    line-height: 1.7em;
    font-size: 0.9em;
  }
}

@media (max-width: 425px) {
  .cardFaceImage {
    margin: 15px;
    width: 110px;
    height: 110px;
  }

  .cardFaceText {
    line-height: 1.65em;
    font-size: 0.75em;
  }
}
