.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
}

.card {
  width: 200px;
  height: 275px;
  border-radius: 5%;
  background-color: rgb(230, 230, 230);
  display: inline-block;
  margin: 5px 5px 5px 0;
}

.card:hover {
  background-color: rgb(208, 208, 208);
}
  
.cardImage {
  width: 160px;
  height: 160px;
  margin: 20px;
  border-radius: 5%;
  overflow: hidden;
}

.cardTextWrapper {
  margin: 0 20px;
  line-height: 0;
}
  
.cardText {
  margin: 0;
}
