.playlistMainContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  min-width: 300px;
}

.playlistContainer {
  display: flex;
  margin-right: 5px;
}

.playlistCubeContainer {
  display: flex;
}

.playlistCube {
  height: 10px;
}